.contenedor {
    text-align: center;
}

.imagen {
    width: 250px;
    border: solid rgb(30, 150, 210);
}

.titulo {
    text-align: center;
    color: goldenrod;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button2 {
    margin-right: 5px;
    margin-left: 5px;
}

.contenedorBoton4 {
    text-align: center;
    margin-top: 20px;
}

.boton4 {
    padding: 10px 20px;
    font-size: 16px;
}

.contenedorPrincipal {
    color: rgb(28, 49, 170);
}

.total {
    margin-left: 5px;
}

.contenedorTarjeta {
    text-align: center;
}

.imagen {
    width: 250px;
    border: 5px solid #4ab2b3;
    border-radius: 8px;
    margin-bottom: 10px;
}

.inputTarjeta {
    margin-left: 5px;
}

.boton4,
.buttonEnviarCodigo,
.button,
.button2,
.button3 {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4ab2b3;
    color: white;
}

.button:hover,
.button2:hover,
.button3:hover,
.buttonEnviarCodigo:hover,
.boton4:hover {
    background-color: rgb(22, 106, 123);
}

.logo {
    text-align: center;
    background-color: rgb(155, 198, 230);
}

.logo img {
    border-radius: 80px;
    width: 150px;
}

.menu {
    padding: 5px;
}